# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
env/
venv.bak/
env
Api/__pycache__/*
Api/__pycache__/
__pycache__/
# Flask stuff:
instance/
.webassets-cache


# Byte-compiled / optimized / DLL files
Api/__pycache_/
__pycache__/
*.py[cod]
*$py.class
